
#result-terms
{
  border-color: grey;
}
#result-terms > a{
	cursor:pointer;
}
#results-div a{
	cursor:pointer;
}
.search-instructions > p{
	color:white;
	font-size:14px;
}
.errorBorder{
  border-color: red;
}
.nav > li > a > img{
  max-width: 20px;
}
.clicked{
  color: red !important;
}
