
#result-terms
{
  border-color: grey;
}
#result-terms > a, .questionFormat{
	cursor:pointer;
}

.questionFormat{
    display:block;
    color: #fff;
}

#results-div a{
	cursor:pointer;
}
.search-instructions {
	color:white;
	font-size:14px;
}
.errorBorder{
  border-color: red;
}
.nav > li > a > img{
  max-width: 20px;
  vertical-align: text-bottom;
}
.search-Type{
	color:white;
}
.clicked{
  color: red !important;
}
.year-input{
  display: inline-flex;
}
#year_input2{
  margin-left: 15%;
}

.radioFont{
  color:#fff;
}

.main-header .navigation-bar .navbar{
  padding: 0;
}

.navigation-bar{
  position: fixed;
  width: 100%
}
.banner-info h2 {
  font-size: 35px;
  padding-bottom: 50px;
}
